/* Maccery.com homepage */

#topbanner {
    width: 100%;
    height: 30px;
    text-align: right;
    position: absolute;
    top: 0px;
    background: url('/images/translucent_bg.png') repeat;
    padding: 0px;
    margin: 0px;
}

#topbanner p {
    font-family: 'Adelle', 'Arial';
    color: white;
    font-size: 75px;
    font-weight: 100;
}

#topbanner ul {
    position: absolute;
    left: 0px;
    padding: 4px;
    margin: 0px;
}


#topbanner li {
    float: left;
    list-style: none;
    padding-right: 8px;
}

#cover {
    position: relative;
    height: 480px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
    padding: 0px;
    background: url(/images/maccery.jpg) repeat-x center top;
}

#cover #title, #cover #title a {
    color: white;
    font-size: 120px;
    font-family: "HelveticaNeue", "Helvetica Neue", 'Lato', "Arial", sans-serif;
    font-weight: bold;
    top: 50px;
    text-decoration: none;
}

#topbanner a, #cover #about a, #cover a {
    text-decoration: none;
}

#cover #about {
    background: url(/images/translucent_bg.png) repeat;
    height: 68px;
    width: 239px;
    position: relative;
    top: 30px;
    left: 141px;
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
    padding-left: 84px;
    padding-right: 84px;
    font-family: 'adelle', serif;
    font-size: 25px;
    color: #666666;
    font-weight: 300;
}
